USE [master]
GO
/****** Object:  Database [Tp4MiguelLandaeta2d]    Script Date: 11/29/2020 4:20:38 AM ******/
CREATE DATABASE [Tp4MiguelLandaeta2d]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp4MiguelLandaeta2d', FILENAME = N'D:\SQL_SERVER\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Tp4MiguelLandaeta2d.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tp4MiguelLandaeta2d_log', FILENAME = N'D:\SQL_SERVER\MSSQL15.MSSQLSERVER01\MSSQL\DATA\Tp4MiguelLandaeta2d_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp4MiguelLandaeta2d].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp4MiguelLandaeta2d]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 11/29/2020 4:20:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [nvarchar](50) NOT NULL,
	[Precio] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 11/29/2020 4:20:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Articulos] [nvarchar](max) NOT NULL,
	[ImporteTotal] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
